#include <windows.h>
#include <winver.h>
#include "e2orant.h"

DLG_ORASESSION DIALOG DISCARDABLE  8, 16, 174, 79
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Enter ORACLE Sign-on"
FONT 8, "Helv"
BEGIN
    LTEXT           "&ORACLE User:",ID_ORUSER,4,3,80,14
    EDITTEXT        ID_ETORUSER,84,3,80,14,ES_AUTOHSCROLL
    LTEXT           "&Password:",ID_ORPASS,4,21,80,14
    EDITTEXT        ID_ETORPASS,84,21,80,14,ES_PASSWORD
    LTEXT           "&TNS Name:",ID_ORTNS,4,39,80,14
    EDITTEXT        ID_ETORTNS,84,39,80,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,4,59,40,14
    PUSHBUTTON      "&Help",ID_HELP,64,59,40,14
    PUSHBUTTON      "Cancel",IDCANCEL,124,59,40,14
END
/*
 * Version Information
 */
1 VERSIONINFO
FILEVERSION 0,0,0,1
PRODUCTVERSION 0,0,0,1
FILEFLAGSMASK 0x3f
FILEFLAGS 0x3f
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "Comments","Windows NT ORACLE Bad SQL Hunter"
            VALUE "CompanyName","E2 Systems Limited"
            VALUE "FileDescription","E2 Systems ORACLE Bad SQL Hunter"
            VALUE "FileVersion","1.0"
            VALUE "InternalName","badsort"
            VALUE "LegalCopyright","Copyright (c) E2 Systems Limited, 1994-2000"
            VALUE "OriginalFilename","badsort.exe"
            VALUE "ProductName","E2 Systems SQL Monitor"
            VALUE "ProductVersion","1.0"
        END
    END
END
